<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <br>
  <ion-label> Operação: </ion-label>
  <br>
  <ion-item>
    <ion-input placeholder="Enter Input"></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-label> Resultado: </ion-label>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col>
        <ion-button fill="outline">MC</ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="outline">MR</ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="outline">M+</ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="outline">M-</ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="outline">MS</ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="outline">M▾</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button fill="outline">%</ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="outline">√</ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="outline">X<sup>2</sup></ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="outline">⅟<sub>X</sub></ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button fill="outline">CE</ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="outline">C</ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="outline"><ion-icon name="close-circle"></ion-icon></ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="outline">÷</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button fill="outline">7</ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="outline">8</ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="outline">9</ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="outline">X</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button fill="outline">4</ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="outline">5</ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="outline">6</ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="outline">-</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button fill="outline">1</ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="outline">2</ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="outline">3</ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="outline">+</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button fill="outline">±</ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="outline">0</ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="outline">,</ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="outline">=</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
