<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label> Operação: </ion-label>
  <ion-item>
    <ion-input placeholder="Enter Input"></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-label> Resultado: </ion-label>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col>
        <ion-button>MC</ion-button>
      </ion-col>
      <ion-col>
        <ion-button>MR</ion-button>
      </ion-col>
      <ion-col>
        <ion-button>M+</ion-button>
      </ion-col>
      <ion-col>
        <ion-button>M-</ion-button>
      </ion-col>
      <ion-col>
        <ion-button>M▾</ion-button>
      </ion-col>



    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button>%</ion-button>
      </ion-col>
      <ion-col>
        <ion-button>√</ion-button>
      </ion-col>
      <ion-col>
        <ion-button>X<sup>2</sup></ion-button>
      </ion-col>
      <ion-col>
        <ion-button>⅟<sub>X</sub></ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button>CE</ion-button>
      </ion-col>
      <ion-col>
        <ion-button>C</ion-button>
      </ion-col>
      <ion-col>
        <ion-button><ion-icon name="close-circle"></ion-icon></ion-button>
      </ion-col>
      <ion-col>
        <ion-button>÷</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button>7</ion-button>
      </ion-col>
      <ion-col>
        <ion-button>8</ion-button>
      </ion-col>
      <ion-col>
        <ion-button>9</ion-button>
      </ion-col>
      <ion-col>
        <ion-button>X</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button>4</ion-button>
      </ion-col>
      <ion-col>
        <ion-button>5</ion-button>
      </ion-col>
      <ion-col>
        <ion-button>6</ion-button>
      </ion-col>
      <ion-col>
        <ion-button>-</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button>1</ion-button>
      </ion-col>
      <ion-col>
        <ion-button>2</ion-button>
      </ion-col>
      <ion-col>
        <ion-button>3</ion-button>
      </ion-col>
      <ion-col>
        <ion-button>+</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button>±</ion-button>
      </ion-col>
      <ion-col>
        <ion-button>0</ion-button>
      </ion-col>
      <ion-col>
        <ion-button>,</ion-button>
      </ion-col>
      <ion-col>
        <ion-button>=</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
