hr{
  background-color: black;
}
ion-grid{
  ion-row{
    ion-col{
      ion-button{
        display: flex;
        color: black;
        --background: #6e93d4;
        --background-hover: #6e93d4;
        --background-activated: #6e93d4;
        --background-focused: #6e93d4;

        --color: black;

        --border-radius: 0;
        --border-color: #000;
        --border-style: solid;
        --border-width: 1px;

        --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

        --ripple-color: black;

        --padding-top: 10px;
        --padding-bottom: 10px;
      }
    }
  }
}
ion-toolbar{
  text-align: center;
}
