<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-label>Valor 1</ion-label>
    <ion-input placeholder="Enter Input"></ion-input>
    <hr>
    <ion-label>Valor 2</ion-label>
    <ion-input placeholder="Enter Input"></ion-input>
    <hr>
    <ion-row>
      <ion-col>
        <ion-button>+</ion-button>
      </ion-col>
      <ion-col>
        <ion-button>-</ion-button>
      </ion-col>
      <ion-col>
        <ion-button>*</ion-button>
      </ion-col>
      <ion-col>
        <ion-button>/</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button>></ion-button>
      </ion-col>
      <ion-col>
        <ion-button><</ion-button>
      </ion-col>
    </ion-row>
    <br>
    <ion-label>Resultado: </ion-label>
    <hr>
    <ion-label>Operação: </ion-label>
  </ion-grid>

</ion-content>
